/*-- scss:defaults --*/


// colors
$body-bg: #fff !default;
$body-color :#1c1b1b !default;
$link-color: #8a67a9 !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-color: #8a67a9!default;

// Font-size
$presentation-font-size-root: 25px;
$presentation-h2-font-size: 1.5em;
$presentation-h3-font-size: 1em;

.footer {
  color: #8a67a9 !important;
}


// tabset font size
.panel-tabset .nav-item {
  font-size: 0.9em;
  font-weight: 700;
}
